<template>
    <div class="<%= data.styleName %>">
        <%= data.name %>
    </div>
</template>

<script>
export default {
    name: '<%= data.name %>',
    props: {},
    components: {},
    computed: {},
    data() {
        return {}
    },
    created() {},
    mounted() {},
    methods: {}
}
</script>

<style lang="scss" scoped>
.<%= data.styleName %> {

}
</style>